@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-gradient__header {
        background: linear-gradient(
            to right,
            #DAC3FF 0 50%,
            #6E61FF 50% 100%
      );
    }
    .bg-gradient__works {
        background: linear-gradient(
            to bottom,
            #2D8AE0 0 50%,
            #fff 50% 100%
      );
    }
    .p-page {
        @apply px-[300px] xl:px-28 md:!px-5;
    }
}
@layer base {
    * {
        scroll-behavior: smooth;
    }
    .bg-center_bottom {
        background-position: center bottom;
    }
}